body, h1 {
    text-align: center;
    color: coral;
}

/*Boton de save*/

.botonsave{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px 70px;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}

.botonsave:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
/*Boton de Submit*/

.botonsubmit{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:white;
    color:black;
    padding: 20px 75px 20px 75px;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    border: 2px solid black;
}
.botonsubmit:hover{
    background-color: black;
    color: white;
}

/*boton de Cancel*/

.botoncancel{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    color:black;
    padding: 20px 85px 20px 85px;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}

.botoncancel:hover{
    background-color: #616066;
    color: white;


/* Boton de signup*/
}
 .botonsignup{
     font-family: Arial, Helvetica, sans-serif;
     background-color: #0074DA;
     color: #F0F0F0;
     padding: 20px 95px 20px 95px;
     font-size: 12px;
     margin: 0px 0px 0px 0px;
 }

 .botonsignup:hover{
    background-color: rgb(16, 69, 129);
 }

