h1 {
    color: coral;
}

.boton{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 12px;
    border: 1px black;
}

.boton:hover{
    background-color: white;
    color: white;
}